<section id="speakers" class="page-section">
  <div class="wrapper">
    <h1 class="section-title">Speakers</h1>

    <div class="carousel">
      <button class="carousel-button prev"></button>
      <button class="carousel-button next"></button>

      <div class="speakers">
        {% for speaker in speakers %}
          <article class="speaker">
            <img class="speaker-avatar" src="{{ speaker.image }}" alt="{{ speaker.name }}">
            <div class="speaker-details">
              <h1 class="speaker-name">{{ speaker.name }}</h1>
              <h2 class="speaker-company">{{ speaker.position }}, {{ speaker.company }}</h2>
            </div>
          </article>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
