<header id="site-header">
  <a id="site-logo" href="/">
    <img src="/static/images/logo.png" alt="<%= title %>">
  </a>

  <input id="nav-toggle" type="checkbox">
  <label class="nav-toggle" for="nav-toggle"></label>

  <nav class="nav">
    <a class="nav-link" href="/#about">About</a>
    <a class="nav-link" href="/#speakers">Speakers</a>
    <a class="nav-link" href="/#schedule">Schedule</a>
    <a class="nav-link" href="/faqs">FAQs</a>
    <a class="nav-link" href="/coc">Code of Conduct</a>
  </nav>
</header>
