{% extends '_base.html' %}


{% block title %}Code of Conduct | <%= title %>{% endblock %}


{% block contents %}
  <section id="coc" class="page-section">
    <div class="wrapper">
      <h1 class="section-title">Code of Conduct</h1>

      <div class="inner-wrapper">
        <p>This code of conduct outlines the organizers' expectations for all those who will attend the event, as well as the consequences for unacceptable behavior.</p>

        <ol class="rules">
          <li>All attendees are encouraged to come early for the registration.</li>
          <li>All attendees shall keep an eye on their belongings. The organizing committee shall not be liable for any lost items during the event.</li>
          <li>All attendees shall help in maintaining the cleanliness of the venue.</li>
          <li>All attendees are encouraged to engage and participate in an authentic and active way. This action can contribute to the progress and growth of the community.</li>
          <li>All attendees are encouraged to collaborate with fellow attendees. This is to help them build some networks and at the same time avoid any forms of conflict during the event.</li>
          <li>All attendees are encouraged to add to the discussion only if and when asked to do so and only in a way that is relevant to the matter under discussion.</li>
          <li>All attendees shall allow others to have equal opportunity and time to share their opinions when contributions are asked for.</li>
          <li>All attendees are encouraged to post regarding the event in their respective social media accounts.</li>
          <li>All attendees shall be mindful of their surroundings and fellow participants.</li>
          <li>All attendees shall act in a fair and responsible way to any staff, fellow delegates or volunteers they encounter.</li>
          <li>The organizing committee has zero tolerance towards harassment. Harassment in this context includes but not limited to: offensive verbal comments related to sexual orientation, disability, physical appearance, body size, technology choices, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.</li>
          <li>If an attendee is being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of the organizing team immediately.</li>
          <li>If an attendee engages in harassing behavior, the organizers may take any action they deem appropriate, including warning the offender or expulsion from the event.</li>
          <li>All attendees shall communicate in advance to the organizing committee any information necessary to help them at the event.</li>
          <li>This code of conduct shall be applicable to all attendees, volunteers, speakers, guests, venue staff, and members of the organizing team in all community venues.</li>
        </ol>
      </div>
    </div>
  </section>
{% endblock %}
